@font-face {
    font-family: "Ibarra";
    src: url(/fonts/IbarraRealNova/IbarraRealNova-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bakery {
    width: 20%;
    margin: auto;
    display: block;
}

h1 {
    font-family: Ibarra;
    text-align: center;
    margin-top: 0px;
}

.head {
    background: tan;
    padding: 7px 0px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid black;
}

.head ul li {
    display: inline-block;
    padding: 0px 20px;
    text-align: center;
    border-left: 1px solid white;
    color: white;
}

.head ul li a{
    color: black;
}

.head ul li:hover{
    background-color: wheat;
    color: black;
    transition: 0.8s all;
}

.box{
    font-family: Ibarra;
    line-height: 1.8;
    background: tan;
    margin: 100px auto;
    width: 70%;
    text-align: justify;
    padding: 20px;
}

.map{
    padding: 20px;
    width: 100%;
}

.columns{
    columns: auto 2;
    column-rule: 1px dotted firebrick;
    text-align: center;
}

footer{
    margin-top: 1px;
    border-top: 2px solid black;
    font-family: Ibarra;
    text-align: center;
}

#copy{
    margin-bottom: 5px;
}